
body{
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.mainheader{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 24px 227px;
}

.logo{
    font-size: 24px;
    color: #F9FaF8;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 300;
}

.links {
    display: flex;
    gap: 16px;
}

.hero{
    display: flex;
    background-color: #1F2937;
    padding: 100px 36px;
    flex-wrap: wrap;
    gap: 36px;
    justify-content: center;
}

.main-text{
    font-size: 48px;
    font-weight: 900;
    color: #F9FaF8;
    max-width: 450px;
    max-height: 100px;
}

.subtext{
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 300;
    max-width: 425px;
}

.heroimg img{
    width: 500px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
}

.hero-text{
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-shrink: 0;
    margin-bottom: 16px;
}

.herobutton button, .signbutton button{
    border-radius: 8px;
    padding: 8px 36px;
    background-color: #3882f6;
    border: 0;
    color: #F9FaF8;
    font-weight: 700;
}

.herobutton button{
    border: 0;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infoimages{
    display: flex;
    gap: 48px;
    justify-content: center;
}

.infoimages img{
    width: 150px;
    height: 150px;
    border: 2px solid  #3882f6;
    border-radius: 8px;
}

.smallimg{
    display: flex;
    flex-direction: column;
    width: 150px;
}

.infoheader{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    padding: 42px;
}

.imgsubtext{
    text-align: center;
    color: #1F2937;
    font-size: 16px;
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 90px;
}

.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 180px;
    background-color: #e5e7eb;
    
}

.quote-text{
    font-size: 36px;
    font-weight: 300;
    text-align: justify;
}

.quote-author{
    align-self: flex-end;
    font-weight: bold;
    margin-top: 16px;
}

.signsection{
    padding: 80px 200px;
}

.sign{
    display: flex;
    background-color: #3882F6;
    padding: 32px 80px;
    justify-content: space-between;
    border-radius: 8px;
    align-items: center;
}

.signtitle{
    color: #F9FaF8;
    font-size: 18px;
    font-weight: bold;
}

.signdescription{
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 300;
}

.signbutton {
    border: 2px solid #F9FaF8;
    border-radius: 8px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #e5e7eb;
    font-weight: 300;
    padding: 24px 0;
}





